@model PartyProductAPI.Models.InvoiceModel
@{
    List<InvoiceModel> allInvoice = await _invoiceRepo.GetAllInvoiceAsync();
    double gTotal = await _productRateRepo.GetGrandTotal();
    //List<SelectListItem> partyDd = ViewBag.PartyDropdown;
    var productDd = ViewBag.ProductDropdown;
    var rateTb = ViewBag.Rate;
    var quantityTb = ViewBag.Quantity;
}

<div class="container mt-2">
    <h2 class="my-3">Invoice</h2>
    <form asp-controller="Invoice" asp-action="AddNewInvoice" method="post" enctype="multipart/form-data" id="my-form">

        <div class="form-group my-2">
            <label asp-for="PartyId" class="fw-semibold fs-6"></label>
            <select asp-for="PartyId" class="form-control" onchange="onPartySelected(this)" id="partyDropdown"
                    asp-items="(await _partyRepo.GetAllParty()).Select(x => new SelectListItem() { Text = x.PartyName, Value = x.PartyId.ToString() })">
                <option value="" selected="selected">Choose any one</option>
            </select>
            <span asp-validation-for="PartyId" class="text-danger"></span>
        </div>

        <div class="form-group my-2">
            <label asp-for="ProductId" class="fw-semibold fs-6"></label>
            <select asp-for="ProductId" class="form-control" id="productDropdown" onchange="onProductSelected(this)" value="@productDd">
                <option value="" disabled="disabled" selected="selected">Choose any one</option>
            </select>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>

        <div class="form-group my-2">
            <label asp-for="Rate" class="fw-semibold fs-6"></label>
            <input asp-for="Rate" id="rateInput" class="form-control" value="@rateTb" />
            <span asp-validation-for="Rate" class="text-danger"></span>
        </div>

        <div class="form-group my-2">
            <label asp-for="Quantity" class="fw-semibold fs-6"></label>
            <input asp-for="Quantity" class="form-control" value="@quantityTb" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" id="submit-button">Add Invoice</button>
    </form>


    <div class="mt-5">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <p class="fw-bold fs-5 m-0 p-0">Grand Total : @gTotal</p>
            <a asp-controller="Invoice" asp-action="DeleteInvoice" class="btn btn-danger">Clear Invoice</a>
        </div>

        <table class="table table-striped">
            <thead class="bg-dark text-white">
                <tr>
                    <th scope="col" class="py-3">#</th>
                    <th scope="col" class="py-3">Party</th>
                    <th scope="col" class="py-3">Product</th>
                    <th scope="col" class="py-3">Rate</th>
                    <th scope="col" class="py-3">Quantity</th>
                    <th scope="col" class="py-3">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (InvoiceModel invoice in allInvoice)
                {
                    PartyModel partyname = await _partyRepo.GetPartyById(@invoice.PartyId);
                    ProductModel productname = await _productRepo.GetProductById(invoice.ProductId);
                    <tr>
                        <td scope="row">@(allInvoice.IndexOf(invoice) + 1)</td>
                        <td>@partyname.PartyName</td>
                        <td>@productname.ProductName</td>
                        <td>@invoice.Rate</td>
                        <td>@invoice.Quantity</td>
                        <td>@invoice.Total</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts{
    <script>
        //$(document).ready(function () {
        //    document.getElementById('partyDropdown').selectedIndex = 0;
        //}

        function onPartySelected(select) {
            var partyId = select.value;
            $.ajax({
                type: "POST",
                url: "/PartyProduct/BindProduct/" + partyId,
                data: { partyId: partyId },
                success: function (result) {
                    var options = "<option value=''>Choose any one</option>";
                    $.each(result, function (index, product) {
                        console.log(product);
                        options += "<option value='" + product.productId + "'>" + product.productName + "</option>";
                    });
                    $("#productDropdown").html(options);
                },
                error: function (xhr, status, error) {
                }
            });
        }

        function onProductSelected(select) {
            var productId = select.value;
            $.ajax({
                type: "POST",
                url: "/ProductRate/BindRate/" + productId,
                data: { partyId: productId },
                success: function (result) {
                    console.log(result);
                    $("#rateInput").val(result.rate);
                },
                error: function (xhr, status, error) {
                }
            });
        }

                                //$('#submit-button').click(function (event) {
                                //    event.preventDefault();
                                //    var formData = new FormData($('#my-form')[0]);  get the form data

                                //    $.ajax({
                                //        url: '/Invoice/AddNewInvoice',  specify the controller action URL
                                //        type: 'POST',
                                //        data: formData,
                                //        contentType: false,
                                //        processData: false,
                                //        success: function (response) {
                                //             handle the response from the server
                                //            console.log("holaaaa");
                                //        },
                                //        error: function (jqXHR, textStatus, errorThrown) {
                                //             handle the error
                                //        }
                                //    });
                                //});
    </script>
}