@{
    List<ProductModel> allProduct = await _productRepo.GetAllProduct();
}

<div class="container">
    <h2 class="my-3">Products</h2>
    <a asp-controller="Product" asp-action="AddNewProduct" class="btn btn-outline-success mb-3">Add Product</a>

    <table class="table table-striped">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col" class="py-3">#</th>
                <th scope="col" class="py-3">ID</th>
                <th scope="col" class="py-3">Product</th>
                <th scope="col" class="py-3">Rate</th>
                <th scope="col" class="py-3">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductModel product in allProduct)
            {
                <tr>
                    <td scope="row">@(allProduct.IndexOf(product) + 1)</td>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@(product.Rate != 0 ? product.Rate : "-")</td>
                    <td>
                        <button class="btn btn-sm btn-primary">@Html.ActionLink("Edit", "UpdateProduct", new { id = product.ProductId }, new { @class = "text-white text-decoration-none" })</button>
                        <button class="btn btn-sm btn-danger text-white" onclick="confirmDelete(@product.ProductId)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        function confirmDelete(id) {
            if (confirm("Are you sure ? You want to delete this item ?")) {
                $.ajax({
                    url: "/Product/DeleteProduct",
                    type: "GET",
                    data: { "id": id },
                    success: function () {
                        // Refresh the page or update the table to reflect the deleted record
                        location.reload();
                    }
                });
            }
        }
    </script>
}
